@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900;1000&display=swap');

* {
    font-family: 'Mulish', sans-serif; 
}


header{
    width: 1170px;
    margin: 0 auto;
}
nav{
    max-width: 1440px;
    background: rgba(19, 19, 24, 0.05);  
}
header nav{
    display: flex;
    justify-content: space-between;
}
.logo-container{
    display: flex;
    align-items: center;   
}
.logo-container img{
    width: 48px;
    height: 56.008px;
}
.logo-container h3{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
.travel-color{
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}
.items-container{
    display: flex;
    align-items: center;
    gap: 44px;
}
.items-container a{
    text-decoration: none;
    color:#424247;
    font-size: 18px;
    font-weight: 400;
}
.home-color{
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
}
.bars-icon{
    display: none;
}
.banner-container{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13.png);
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    margin: 0 auto;
    text-align: center;

}
.banner-container h1{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    padding-top: 110px;
}
.banner-container p{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.select-btn{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
}
.select-btn-text{
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    border: none;
}
.select-btn select{
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    border: none;
}
.search-btn{
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    border: none;
}
.search-btn{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

main{
    width: 1170px;
    margin: 0 auto;
}
.popular-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}
.popular-container h1{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.popular-container p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.popular-container li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.tour-btn{
    border-radius: 8px;
    background: #FF5400;
    padding: 14px 32px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
}
.popular-container img{
    width: 540px;
    height: 540px;
}

.choose-container{
    text-align: center;
    padding-top: 100px;
}
.choose-container h3{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.choose-container p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.row{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding-top: 24px;
}
.place-one{
    position: relative;   
}
.place-one p{
    position: absolute;
    top: 110px;
    right: 220px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.place-two{
    position: relative;
}
.place-two p{
    position: absolute;
    top: 110px;
    right: 220px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.place-two{
    position: relative;
}
.place-two p{
    position: absolute;
    top: 110px;
    right: 220px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.place-three{
    position: relative;
}
.place-three p{
    position: absolute;
    top: 110px;
    right: 120px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.place-four{
    position: relative;
}
.place-four p{
    position: absolute;
    top: 110px;
    right: 140px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.place-five{
    position: relative;
}
.place-five p{
    position: absolute;
    top: 110px;
    right: 80px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.place-six{
    position: relative;
}
.place-six p{
    position: absolute;
    top: 110px;
    right: 160px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}    
.place-seven{
    position: relative;
}
.place-seven p{
    position: absolute;
    top: 110px;
    right: 270px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.choose-us{
    display: flex;
    gap: 40px;
    margin-top: 40px;
}
.choose-us-one{
    width: 600px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 30px;
}
.choose-us-one h4{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.choose-us-one p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400
}
.choose-us-two{
    width: 600px;
    padding: 30px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.choose-us-two h4{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.choose-us-two p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400
}
.choose-us-three{
    padding: 30px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 600px;
    margin-top: 45px;
    margin-left: 300px;
}
.choose-us-three h4{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.choose-us-three p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400
}
.fact-title{
    font-size: 30px;
    font-weight: 800;
    color: #131313;
}
.section-text-info{
    font-weight: 400;
    color: #727272;
    padding-bottom: 60px;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .facts-card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;

}
.facts-card-container .card-stats{
    font-size: 45px;
    font-weight: 600;
    color: #424242;
    margin-top: 6px;
    margin-bottom: 6px;
}
.facts-card-container .card-title{
    font-weight: 600;
    color: #727272;
    margin-top: 5px;
}


.newsletter-container{
    display: flex;
    gap: 30px;
    margin-top: 60px;
}
.newsletter-box{
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 0 30px 0 30px;
}
.newsletter-box h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.newsletter-box p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.newsletter-box input{
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    margin-top: 20px;
}
.subscribe-btn{
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    margin-top: 16px;
}
.off-btn{
    width: 324px;
    border-radius: 16px;
    background: #FF5400;
    text-align: center;
    padding-bottom: 30px ;
}
.off-btn p{
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.off-btn h3{
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
    margin: 0;
    padding: 0;
}
.offer-img{
    position: relative;
}
.off-btn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    transform: rotate(-19.628deg);
}
.footer-container{
    background: rgba(19, 19, 24, 0.05);
    width: 1440px;
    height: 400px;
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
    padding: 100px;
}
.footer-logo{
    display: flex;
    justify-content: center;
}
.footer-logo img{
    height: 60px;
    margin-top: 26px;
}
.footer-logo h3{
    font-size: 32px;
    font-weight: 800;
}

.footer-text p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 60px;
}
.footer-text img{
    margin-bottom: 60px;
}




/* responsive media */
@media screen and (max-width:600px) {
    header{
        width: 375px;
    }
    .items-container{
        display: none;
    }
    .bars-icon{
        display: block;
        font-size: 24px;
        padding-top: 45px;
    }
    .banner-container{
        width: 335px;
        height: 500px; 
    }
    .select-btn{
        flex-direction: column;
    }
    .banner-container h1{
        font-size: 22px;
        font-weight: 800;
        padding-top: 10px;
    }
    .banner-container p{
        font-size: 12px;
        font-weight: 400;
    }
    
    
   main{
        width: 335px;
   }
   .popular-container{
        flex-direction: column;
        padding-top: 40px;
   }
   .popular-container img{
        width: 335px;
        height: 342px;
        padding-top: 30px;
   }


   .choose-container{
        padding-top: 30px;
   }
   .row,
   .newsletter-container
   {
    flex-direction: column;
   }
   .row img{
    width: 335px;
    height: 176px;
   }
    .place-one p,
    .place-two p,
    .place-three p,
    .place-four p,
    .place-five p,
    .place-six p,
    .place-seven p
    {
        top: 55px;
        right: 120px;
        font-size: 20px;
        font-weight: 700;
    }

   .choose-us{
        flex-direction: column;
   }
   .choose-us-one{
    width: 270px;;
   }
   .choose-us-two{
    width: 270px;
   }
   .choose-us-three{
    width: 270px;
    margin: 40px auto;
   }
   .facts-card-container{
     flex-direction: column;
     gap: 20px;
   }

   .newsletter-box{
    width: 270px;
    height: 353px;
   }
.newsletter-box h3{
    font-size: 20px;
    font-weight: 800;
}
.newsletter-box p{
    font-size: 14px;
    font-weight: 400; 
}
.newsletter-box input{
    width: 270px;
    height: 44px;
    margin-top: 20px;
}
.subscribe-btn{
    width: 270px;
    height: 44px;
    margin-top: 20px;
}
.offer-img img{
    width: 335px;
    height: 320px;
}
.off-btn{
    width: 215px;
    height: 90px;
    transform: rotate(-19.628deg);
    right: 1px;
    bottom: 10px;
}
.footer-container{
    width: 375px;
    height: 460px;
    padding: 20px;
}
}
